/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: white;
}

p {
  line-height: 2rem;
}

body {
    background-color: #263238;
}

.button-collapse {
  color: white;
  position:relative;
  left:-8%;
}

.parallax-container {
  min-height: 600px;
  line-height: 0;
  height: 600px;
  color: rgba(255,255,255,.9);
}
.parallax-container .section {
    width: 100%;
    margin-top: 5%;
}

.topmenubutton{
    margin-right: -.5rem;
    margin-left: -.5rem;
}

.topicon{
    width: 2.5rem;
    margin-left: -.50rem;
    margin-right: -.50rem;
    margin-top: .75rem;
}
.sideicon{
    width: 2rem;
}

@media only screen and (min-width: 993px) {
    .container{
        /*background-color: red;*/
    }
    .parallax-container .section {
        position: absolute;
        top: 15%;
    }
}

@media only screen and (max-width : 992px) {
    .parallax-container .section {
        position: absolute;
        top: 15%;
    }
}

@media only screen and (max-width : 600px) {
    .parallax-container .section {
        position: absolute;
        top: 15%;
    }
}

.icon-block {
    /*background-color: blue;*/
    text-align: center;
}

.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

/*cursor blink*/

.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

/* animate.css custom animations */

#topmsg {
  -webkit-animation-duration: 3s;
  -webkit-animation-delay: 2s;
  -webkit-animation-iteration-count: 1;
}

.strength {
  -webkit-animation-duration: 3s;
  -webkit-animation-delay: 0s;
  -webkit-animation-iteration-count: 1;
}

#strengthtext {
  -webkit-animation-duration: 0.5s;
  -webkit-animation-delay: 0s;
  -webkit-animation-iteration-count: 1;
}

/* tweak the below to adjust linkscroll destinations */

#strengths {
    margin-top:-7rem;
    padding-top:7rem;
}

#portfolio {
    margin-top:-11rem;
    padding-top:9rem;
}

#contact {
    margin-top:-5rem;
    padding-top:5rem;
}

.projectheader{
    background-color: rgba(255, 255, 255, 0.05);
}
